.logo {
  font-family: "Raleway", serif;
  font-size: 1.5rem;
  line-height: 1.16;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: $title-color;

  text-decoration: none;
  display: inline-block;

  &--accent {
    color: $hover-color;
  }
  @media screen and (min-width: 1200px) {
    font-size: 1.625rem;
    line-height: 1.19;
  }
}

.logo--white {
  color: $white-color;
}
