.menu-list {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 30px;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.menu-list__item {
  display: inline-block;
  margin-left: 8px;
  @media screen and (max-width: 394px) {
    &:nth-child(odd) {
      margin-left: 0;
    }
  }
  &:first-child {
    margin-left: 0;
  }
  @media screen and (max-width: 767px) {
    &:nth-last-child(-n + 2) {
      margin-top: 15px;
    }
  }
  @media screen and (min-width: 393px) and (max-width: 767px) {
    &:nth-child(4) {
      margin-left: 0;
    }
  }
}

.menu-list__btn {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;

  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: $title-color;
  font-weight: 500;
  font-family: "Roboto", serif;

  cursor: pointer;
  background-color: $bg-section-color;
  border: 0px solid transparent;
  border-radius: 4px;
  transition: background-color 250ms $animation-cubic,
    color 250ms $animation-cubic, box-shadow 250ms $animation-cubic;
  &:hover,
  &:focus {
    background-color: $hover-color;
    color: $white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
