.qualities {
  background-color: $white-color;
}

.qualities__list {
  @media screen and (min-width: 768px) {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
  }
}

.qualities__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) {
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 9 * 15px) / 4);
    }
  }
}

.qualities__field {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;

  border-radius: 4px;

  background-color: $bg-section-color;
}

.qualities__title {
  font-size: 0.875rem;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-color;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.qualities__text {
  letter-spacing: 0.03em;
  margin-top: 10px;
}
