h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  color: $text-color;
  font-family: "Roboto", serif;
  font-size: 0.875rem;
  line-height: 1.71;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}
