$text-color: #757575;
$hover-color: #2196f3;
$title-color: #212121;
$white-color: #fff;
$bg-section-color: #f5f4fa;
$bg-section-next: #e5e5e5;
$footer-color: #2f303a;
$border-color: #eeeeee;
$icon-color: currentColor;
$basic-icon-color: #afb1b8;
/*  */
$animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);